#cuautli-container .ct-controls{
    max-width: 100%;
}

#cuautli-container img{
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}
#cuautli-container .ct-controls{
    text-align: center;
}
#cuautli-container .ct-controls button{
    width: 30%;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 2%;
    color: #FFF;
    background-color: #000;
}
#overlay-cuautli {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    overflow:   hidden;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 100;

}

#overlay-cuautli .cuautli-close{
    display: block;
    background-color: red;
    color: #FFF;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 5px;
}

#overlay-cuautli .cuautli-prev{
    background-color: #333;
    color: #FFF;
    border: #FFF 1px solid;
    position:absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    top:50%;
    left: 0;
    font-size: 24px;
    z-index: 10;
}
#overlay-cuautli .cuautli-next{
    background-color: #333;
    color: #FFF;
    border: #FFF 1px solid;
    position:absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    top:50%;
    right: 0;
    font-size: 24px;
    z-index: 10;
}

#cuautli-slideshow{
    position: absolute;
    display: block;
    padding: 10px;
    width: available;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    background-color: #FFF;
    border-radius: 10px;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 10;
}
#cuautli-slideshow img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.centerBike {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 26px;
    margin-left: -12px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

#loop {
    height: 100px;
    width: 100px;
    border: #bb5f27 solid 4px;
    border-radius: 200px;
}

#loop:before {
    background: -moz-linear-gradient(left, rgba(187, 95, 39, 0) 0%, rgba(187, 95, 39, 1) 30%, rgba(187, 95, 39, 1) 70%, rgba(187, 95, 39, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(187, 95, 39, 0)), color-stop(30%, rgba(187, 95, 39, 1)), color-stop(70%, rgba(187, 95, 39, 1)), color-stop(100%, rgba(187, 95, 39, 0)));
    background: -webkit-linear-gradient(left, rgba(187, 95, 39, 0) 0%, rgba(187, 95, 39, 1) 30%, rgba(187, 95, 39, 1) 70%, rgba(187, 95, 39, 0) 100%);
    background: -o-linear-gradient(left, rgba(187, 95, 39, 0) 0%, rgba(187, 95, 39, 1) 30%, rgba(187, 95, 39, 1) 70%, rgba(187, 95, 39, 0) 100%);
    background: -ms-linear-gradient(left, rgba(187, 95, 39, 0) 0%, rgba(187, 95, 39, 1) 30%, rgba(187, 95, 39, 1) 70%, rgba(187, 95, 39, 0) 100%);
    background: linear-gradient(to right, rgba(187, 95, 39, 0) 0%, rgba(187, 95, 39, 1) 30%, rgba(187, 95, 39, 1) 70%, rgba(187, 95, 39, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00bb5f27', endColorstr='#00bb5f27', GradientType=1);
    content: "";
    display: block;
    height: 4px;
    left: -100px;
    position: relative;
    top: 100px;
    width: 300px;
}

#bike-wrapper {
    height: 108px;
    width: 108px;
    animation: drive 3s linear infinite;
}

#bike {
    height: 24px;
    width: 25px;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/133687/motorbike.png");
}

@keyframes drive {
    0% {
        margin-left: -364px;
        opacity: 0;
    }
    33.33% {
        transform: rotate(0deg);
        margin-left: -50px;
        opacity: 1;
    }
    66.66% {
        transform: rotate(-360deg);
        margin-left: -50px;
        opacity: 1;
    }
    100% {
        margin-left: 264px;
        transform: rotate(-360deg);
        opacity: 0;
    }
}

@media all and (max-width:768px){
    
}

@media all and (max-width:768px) and (orientation:landscape){
    #cuautli-slideshow{
        height: 100%;
        max-height: 100%;
        width: 100%;
        background-color: transparent;
        left: 0;
        top:0;
        padding: 0;
        transform: none;
        -webkit-transform: none;
    }
    #cuautli-slideshow p{
        width: 100%;
        color: #FFF;
        background-color: #333;
        padding: 0;
        text-align: center;
        box-sizing: border-box;
        position: absolute;
        z-index: 10;
        height: auto;
        bottom: 0;
    }
    #overlay-cuautli .cuautli-close{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
    }
}

@media all and (max-width:768px) and (orientation:portrait){
    #cuautli-slideshow{
        width: 100%;
    }
}